.primary-btn-bright{
    padding: var(--button-padding-medium);
    border-radius: var(--border-radius-medium);
    background-color: #0066ff;
    color: #ffffff;
}

.primary-btn-dark{
    padding: var(--button-padding-medium);
    border-radius: var(--border-radius-medium);
    background-color: #040316;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.notify-input-large{
    width: 400px;
    margin: 20px 0;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: .9rem;
    height: 60px;
    padding: 0px 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .primary-btn-dark{
        font-size: inherit;
    }

    .notify-input-large{
        width: inherit;
    }
}

/* ---------------- Header ---------------------- */

.header{
   width: 82vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: absolute;
    top: 0;
    /* right: 0; */
    background-color: burlywood;
}

.input-grp{
    display: flex;
    align-items: center;
    background-color: #f2f2f2f2;
    padding: 3px 10px;
    border-radius: 8px;
}

.input-grp input{
    margin: 0;
    background-color: transparent;
    outline: none;
    border:none;
    font-size: 14px;
    color: #003366;
}

.ic{    
    height: 24px;
}

.header .header-functionality{
    display: flex;
    align-items: center;
}

.header .profileSection{
    display: flex;
    align-items: center;
    background-color: #f2f2f2f2;
    padding: 3px 10px;
    border-radius: 8px;
    margin-left: 10px;
}

.header .profileSection .img-section{
    background-color: #546090fc;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.header .profileSection .details-section{
   margin: 0 10px;
}

.header .profileSection .details-section p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #003366;
}

.header .profileSection .details-section .userName{
    font-weight: bold;
}

.header .profileSection .details-section .userRole{
    font-style: italic;
}

/* ---------------- Sidebar ---------------------- */
.sidebar {
    width: 230px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e0e0e0;
}

.sidebar-item.disabled {
    color: gray; 
    cursor: not-allowed; 
    pointer-events: none; 
}


.sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.sidebar .sidebar-body {
    font-size: 14px;
    margin: 0;
}

.sidebar .sidebar-body .sidebar-section .section-title {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.section-title {
    font-size: 14px;
    color: #888888;
    margin: 10px 0;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px 7px;
    padding-left: 20px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.1s ease, color 0.1s ease;
    position: relative;
    font-weight: 500;
    width: 100%;
}

.sidebar-item i {
    margin-right: 10px;
}

.sidebar-item:hover {
    background-color: #f1f6fb;
    color: #003366;
    font-weight: 500;
}

.sidebar-item:hover::after {
    content: '';
    background-color: #003366;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar-item.active {
    background-color: #f1f6fb;
    color: #003366;
    font-weight: 500;
    padding-left: 25px;
    position: relative;
    transition: background-color 0.2s ease, color 0.3s ease, padding-left 0.3s ease;
}

.sidebar-item.active::after {
    content: '';
    background-color: #003366;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: left 0.3s ease-in-out;
}

.sidebar-item i {
    margin-right: 10px;
    transition: color 0.3s ease;
}

.sidebar-footer {
    margin-top: auto;
}

.icon2 {
    margin-left: 30px;
    margin-top: 5px;
}

.submenu {
    margin-left: 35px;
    padding-left: 10px;
    border-left: 2px solid #bababa;
    margin-top: 10px;
    margin-bottom: 5px;
}

.submenu-item {
    display: flex;
    align-items: left;
    padding: 10px 10px;
    padding-left: 6px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.submenu-item:hover {
    background-color: #f1f6fb;
    color: #003366;
}

.submenu-item.active {
    background-color: #f1f6fb;
    color: #003366;
    font-weight: 500;
    padding-left: 20px;
}

.submenu-item span {
    padding-left: 5px;
}


    /* 404 Not Found */

    .error-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        text-align: center;
      }
      
      .error-header {
        width: 100%;
        padding: 20px 0;
      }
      
      .error-logo {
        height: 130px;
        margin-left: 200px;
      }
      
      .error-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 22px;
      }
      
      .error-title {
        font-size: 30px;
        font-weight: bold;
        color: #003366;
        opacity: 1;
        margin-top: 30px;
        margin-bottom: 10px;
      }
    
      .overlay p{
        font-size: 20px;
        color: #003366;
        opacity: 1;
      }
      
      .error-image {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
      }
    
      .primary-btn-bright {
        padding: var(--button-padding-medium);
        border-radius: 3px;
        background-color: #0066ff;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-left: 44.5%;
        margin-top: 20px;
    }
    
    .overlay {
        position: absolute;
        top: 55%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 1;
    }
    
    .overlay::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 700px; 
        height: 2px;
        background-color: #00264c; 
        z-index: 2;
    }
    
    .rectangle {
        position: absolute;
        left: 26%; 
        width: 45px;
        height: 17px;
        border: 2px solid #E6EBF0; 
      }
    
    .rectangle-1 {
        top: 43%;
    }
    
    .rectangle-2 {
        top: calc(43% + 17px);
        left: 27%;
    }
    
    .rectangle-3 {
        top: calc(43% + 34px);
    }
    
    .rectangle-4 {
        top: 28%;
        left: 42%;
    }
    
    .rectangle-5 {
        top: calc(28% + 17px);
        left: 41%;
    }
    
    .rectangle-6 {
        top: 25%;
        left: 56%;
    }
    
    .rectangle-7 {
        top: calc(25% + 17px);
        left: 57%;
    }
    
    .rectangle-8 {
        top: 45%;
        left: 72%;
    }
    
    .rectangle-9 {
        top: calc(45% + 17px);
        left: 71%;
    }
    
    .digit {
        font-size: 350px;
        font-weight: 530;
        color: #b6d3ff;
        z-index: 0;
        margin-top: -35%;
        margin: 0 10px;
    }
    
    .digit-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 330px;
        font-weight: 530;
        color: #b6d3ff;
        z-index: 0;
        margin-top: -35%;
    }
    
    .door-image {
        width: 200px; 
        height: 250px;
        margin: -30px 0;
        margin-bottom: 2px;
    }  

/* ..............Cards............... */

.top-card-container {
    width: 35%;
    height: fit-content;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    margin-top: -10px;
    padding: 12px;
    position: relative;
    z-index: 1;
    animation: upDown 2s ease-in-out infinite;
    opacity: 0.9;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.bottom-card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53%;
    height: fit-content;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #d8ecff;
    opacity: 0.5;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
}

.card-header {
    padding: 1px;
}

.card-title {
    height: 8px;
    width: 70%;
    border-radius: 3px;
}

.card-title-two {
    margin-top: 7px;
    background-color: #d9d9d9;
    height: 8px;
    width: 55%;
    border-radius: 3px;
}

.line-one-animation {
    animation: titleExpand 2s ease-in-out infinite;
}

.line-two-animation {
    animation: titleTwoExpand 2s ease-in-out infinite;
}

@keyframes titleExpand {
    0% {
        width: 70%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 70%;
    }
}

@keyframes titleTwoExpand {
    0% {
        width: 55%;
    }

    50% {
        width: 65%;
    }

    100% {
        width: 55%;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    padding-top: 10px;
    color: rgb(241, 241, 241);
}

.card-body input {
    width: 110%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(237, 245, 255);
    color: rgb(241, 241, 241);
    background-color: transparent;
}

.card-body input::placeholder {
    color: #888;
    opacity: 0.2;
    font-size: 0.8rem;
    font-weight: 600;
}

.card-button {
    background: rgb(0, 123, 255);
    color: #fff;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 200% 100%;
    background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(0, 74, 153, 1) 100%);
    cursor: auto;
}


.bottom-line {
    width: 100%;
    margin-top: 10px;
    animation: none;
    transition: none;
}

.white-line {
    background-color: #fff;
    height: 8px;
    width: 80px;
    border-radius: 3px;
}

.dots {
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.red {
    background-color: #EE6868;
}

.green {
    background-color: #8FC2DB;
}

.blue {
    background-color: #548BF7;
}

.white {
    background-color: #fff;
    width: 130px;
}

.column-for-login {
    padding: 5px;
    margin-top: 2px;
}

.first-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.first-line {
    height: 10px;
    width: 120px;
    background-color: #fff;
    border-radius: 6px;
}

.second-line {
    margin-left: 10px;
    margin-top: 8px;
}

.third-line {
    width: 300px;
    height: 20px;
}

.box {
    width: 60px;
    height: 45px;
    border-radius: 4px;
}

.lines-div {
    margin-top: 5px;
}


@media (max-width: 1024px) {
    .login-left .container, .login-right .auth-form {
        padding: 20px;
    }

    .login-left .container .login-left-header h2 {
        font-size: 2rem;
    }

    .login-left .container .login-left-header p {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .auth-pages {
        width: 60%;
    }

    .auth-pages button {
        width: 200px;
    }

    .input-group input {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .login-left, .login-right {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .auth-form-container {
        height: auto;
    }

    .login-left .container, .login-right .auth-form {
        padding: 15px;
        width: 90%;
    }

    .login-left .container .login-left-header h2 {
        font-size: 1.5rem;
    }

    .auth-form-container .login-form input {
        padding: 12px;
    }
  
}

@media (max-width: 576px) {
    .auth-pages {
        flex-direction: column;
        width: 100%;
    }

    .auth-pages button {
        width: 100%;
        margin: 5px 0;
    }

    .input-group input {
        padding: 10px;
    }

    .login-left .container .login-left-header h2 {
        font-size: 1.2rem;
    }

    .login-left .container .login-left-header p {
        font-size: 0.9rem;
    }
    
    .login-left .container .login-left-header .loginbackground {
        display: none !important;
     }

     .top-card-container, .bottom-card-container {
        display: none;
     }
     
       
}

/* Card Responsive */
@media (max-width: 768px) {
    .top-card-container {
        width: 90%;
    }

    .login-left {
        width: 100% !important;
        position: relative;
        height: 100%;
    }

    .login-right {
        width: 100% !important;
        position: absolute;
    }

    .login-left .container {
        width: 90%;
        height: 100%;
    }

    .login-left .container .login-left-body {
        height: 50vh;  
        margin-top: 10px;
    }

    .login-left .container .login-left-footer .firstLine {
        font-size: 1.6rem;
    }

    .top-card-container, .bottom-card-container {
        display: none;
     }

     .auth-form-container {
        position: relative;
        height: 300px;
    }
     
    .auth-pages {
        margin-top: 100px;
        height: 50px;
        width: 65%;
        margin-bottom: 5px;
        position: relative;
    }

    .auth-pages button {
        font-size: 1rem;
    }

    .auth-form-container .login-form {
        width: 100% !important;
        height: 40vh !important;
        left: 1%;
        position: relative;
    }
    
    .auth-form-container .signup-form {
        width: 100% !important;
        height: 50vh !important;
        position: relative;
        left: 0%;
    }
    
    .auth-form-container .signup-form div .input-group {
        margin: 2px;
    }

    .auth_btn {
        width: 70%;
        padding: 6px 0;
    }
}


/* ----------------unchecked CSS--------------- */
.primary-btn-bright {
    padding: var(--button-padding-medium);
    border-radius: var(--border-radius-medium);
    background-color: #0066ff;
    color: #ffffff;
}

.primary-btn-dark {
    padding: var(--button-padding-medium);
    border-radius: var(--border-radius-medium);
    background-color: #040316;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.notify-input-large {
    width: 400px;
    margin: 20px 0;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: .9rem;
    height: 60px;
    padding: 0px 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .primary-btn-dark {
        font-size: inherit;
    }

    .notify-input-large {
        width: inherit;
    }
}

/* ---------------- Header ---------------------- */

.portal-header {
    width: 83vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 16vw;
    z-index: 1;
    background-color: #fff;
}

.input-grp {
    display: flex;
    align-items: center;
    background-color: #f2f2f2f2;
    padding: 3px 10px;
    border-radius: 8px;
}

.input-grp input {
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    color: #003366;
}

.ic {
    height: 24px;
}

.portal-header .header-functionality {
    display: flex;
    align-items: center;
}

.portal-header .profileSection {
    display: flex;
    align-items: center;
    background-color: #f2f2f2f2;
    padding: 3px 10px;
    border-radius: 8px;
    margin-left: 10px;
}

.portal-header .profileSection .img-section {
    background-color: #546090fc;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.portal-header .profileSection .details-section {
    margin: 0 10px;
}

.portal-header .profileSection .details-section p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #003366;
}

.portal-header .profileSection .details-section .userName {
    font-weight: bold;
}

.portal-header .profileSection .details-section .userRole {
    font-style: italic;
}

/* ---------------- Sidebar ---------------------- */
.sidebar {
    width: 16vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e0e0e0;
    position: fixed;
}

.sidebar-body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar-body {
    scrollbar-width: none;
}

.sidebar-body {
    -ms-overflow-style: none;
}

.sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.sidebar .sidebar-body {
    font-size: 14px;
    margin: 0;
    overflow-y: auto;
}

.sidebar .sidebar-body .sidebar-section .section-title {
    font-size: 12px;
    margin: 20px 0 5px 20px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.1s ease, color 0.1s ease, transform 0.3s ease;
    position: relative;
    font-weight: 500;
    width: 100%;
    transition: padding-left 0.3s ease;
}

.sidebar-item i {
    margin-right: 10px;
}

.sidebar-item:hover {
    background-color: #f1f6fb;
    color: #003366;
}

.sidebar-item.active {
    background-color: #f1f6fb;
    color: #003366;
    padding-left: 25px;
    position: relative;
    transition: padding-left 0.3s ease;
    animation: expand 0.3s ease-in;
}

.sidebar-item.active::after,
.sidebar-item:hover::after {
    content: '';
    background-color: #003366;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: left 0.7s ease-in;
}

@keyframes expand {
    0% {
        padding-left: 20px;
    }

    100% {
        padding-left: 25px;
    }
}

.sidebar-item.expandable {
    padding-left: 20px;
    transition: padding-left 0.3s ease;
}

.sidebar-item.expandable.active {
    padding-left: 25px;
}

.sidebar-item.expandable.active::after {
    content: '';
    background-color: #003366;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: left 0.7s ease-in;
}

.sidebar-item.expandable i.icon2 {
    margin-left: auto;
    display: flex;
}

.submenu {
    margin-left: 35px;
    padding-left: 10px;
    border-left: 2px solid #bababa;
    margin-top: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.submenu.open {
    max-height: 1000px;
    opacity: 1;
    display: block;
}

.submenu-item {
    display: flex;
    align-items: flex-start;
    padding: 4px 6px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.submenu-item:hover {
    background-color: #f1f6fb;
    color: #003366;
    font-weight: 500;
}

.submenu-item.active {
    background-color: #f1f6fb;
    color: #003366;
    font-weight: 500;
    padding-left: 20px;
}

.submenu-item span {
    padding-left: 5px;
}

/* ............Table......... */


.table-container,.transaction-table-container{
    width: 100%;
    overflow: hidden;
}

.transaction-table th:first-child,
.transaction-table td:first-child {
    width: 70px; 
    white-space: nowrap;
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-table thead,
.transaction-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.transaction-table thead {
    background-color: #f2f2f2;
}

.transaction-table th {
    white-space: nowrap;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
    color: #002966;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.transaction-table tbody {
    background-color: #fff;
    text-align: center;
    max-height: 500px;
    overflow-y: scroll;
    display: block;
    width: 100%;
}

.transaction-table tbody::-webkit-scrollbar {
    width: 0px;
}

.transaction-table td {
    font-size: 0.8rem;
    padding: 10px 15px;
    border-bottom: 1px solid #d9d9d9;
}

.transaction-table tbody tr:hover {
    background-color: #f9f9f9;
}

.transaction-table tbody tr {
    position: relative;
}

.transaction-table tbody tr:hover {
    box-shadow: inset 6px 0 0 #002966;
}

.more-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon-options {
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.expanded-row {
    background-color: #f2f2f2 !important;
}

.expanded-content {
    padding: 10px;
    flex: 1; 
}

.expanded-content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expanded-left {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.expanded-center {
    flex: 0.5;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.expanded-right {
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
}

.black {
    fill: black;
    cursor: pointer;
}

.status-column {
    padding: 5px;
    width: 80%;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.bullet {
    padding: 3px;
    border-radius: 50%;
    font-size: 1.2em;
    margin-right: 5px;
    display: inline-block;
}

.status-success {
    color: green;
    background-color: #c9fdcb6d;
}

.status-failed {
    color: rgba(255, 0, 0, 0.927);
    background-color: #ffc7c741;
}

.status-success .bullet {
    background-color: green;
}

.status-failed .bullet {
    background-color: rgba(255, 0, 0, 0.927); 
}

.status-pending .bullet {
    background-color: orange; 
}

.expand-text {
    font-weight: bold;
    font-size: 1.1rem;
    color: #002966;
    margin-right: 8px;
}

.more-options {
    position: relative; 
}

.options-menu {
    position: absolute; 
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 130px; 
    z-index: 10; 
    display: none; 
}

.options-menu.active {
    display: block; 
}

.options-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-menu li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.options-menu li:hover {
    background-color: #f0f0f0;
}

.transaction-table-container .transaction-table tbody tr.expanded-parent {
    transition: width 0.3s ease-in-out;
    background-color: #f2f2f2;
}

.cards-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.divider {
    height: 20px;
    border-right: 1px solid #7e7b7b;
}

.divider-div {
    height: 30px;
    border-right: 2px solid #c1c0c0;
}

.amount-row {
    font-weight: 500;
    font-size: 1.6rem;
    color: #002966;
}

.amount-row span {
    font-size: 1.2rem;
    margin-top: 10px;
}

.pagination-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddd;
    border-top: 1px solid #dddd;
}

.rows-dropdown {
    padding: 5px;
    margin-right: 15px;
    border: none;
    border-bottom: 2px solid #888;
    margin-top: 20px;
    outline: none;
    border-radius: 0;
    font-size: 0.8rem;
}

.pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.btn-pagination {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 8px;
    justify-content: center;
    cursor: pointer;
}

.btn-pagination:hover{
    background-color: #f2f2f2;
}

/* Managemerchant Table */
.merchantttable-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 10px;
    pointer-events: none;
}

.table-header-buttons {
    display: flex;
    gap: 20px;
}

.search-input {
    height: 40px;
}

.table-Body {
    position: relative;
    max-height: 60vh;
    overflow-y: auto;
    border-radius: 10px;
    border-color: var(--secondary);
}

.table-Body {
    -ms-overflow-style: none;
}

.table-Body {
    scrollbar-width: none;
}

.merchanttable-container table {
    width: 100%;
    border-collapse: collapse;
}

.merchanttable-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.merchanttable-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.merchanttable-container th {
    position: sticky;
    background-color: var(--secondary);
    text-wrap: nowrap;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 550 !important;
    color: var(--lightblack);
    top: 0;
    z-index: 100 !important;
    background-color: #EDF0F2;
    color: rgb(0, 51, 102);
    overflow: hidden;
    table-layout: fixed;
}

.merchanttable-container td {
    text-wrap: wrap;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: var(--grey);
    z-index: 1 !important;
    table-layout: fixed;
}

.tableheader {
    background-color: #f4f4f4;
    font-weight: bold;
}

.status-div {
    padding: 2px 10px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50px;
}

.status-div p {
    font-size: 0.8rem;
    font-weight: 550;
}

.success-status {
    color: var(--success-color);
    background-color: rgb(111, 210, 38, 0.3);
}

.inputFeild.search-input {
    padding-left: 30px;
}

.copyable {
    position: relative;
    cursor: pointer;
}

.copyable:hover {
    color: #007bff;
    text-decoration: underline;
}

.copyable .copy-icon {
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.copyable:hover .copy-icon {
    opacity: 1;
}

.detail-icon {
    padding: 5px;
    width: 50px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-icon:hover {
    background-color: #f2f2f2;
    border-radius: 20%;
    cursor: pointer;
}

.search-icon {
    margin-left: -3px;
    top: 9px;
}
